.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo__title {
  font-size: 50px;
  color: rgba(255, 255, 255, 1);
  line-height: 58px;
  font-weight: 400;
  width: 50%;
  margin: 0;
  text-align: center;
  padding-top: 160px;
}

.promo__icons {
  display: flex;
  padding-top: 151px;
  width: 20%;
  justify-content: space-evenly;
}

.promo__icon {
  color: rgba(255, 255, 255, 1);
  padding: 10px 17px;
  background-color: rgba(48, 48, 48, 1);
  border-radius: 10px;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}